.parallax-container{
  position: relative;
  overflow: hidden;
  height: 200px;
}

/* label color */
   .input-field label {
     color: #ff0000;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #ff0000;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #ff0000;
     box-shadow: 0 1px 0 0 #ff0000;
   }
